nnverify/__pycache__
nnverify/data
nnverify/log.txt
nnverify/models/__pycache__
nnverify/bnb/__pycache__
**/__pycache__
*.pt
*.onnx
*.pth
nnverify/training/data/
nnverify/tools/GNN_branching/cifardata/
.idea/
nnverify/tests/data
nnverify/tests/log.txt
*.DS_Store
*.ilp
*.mps
*.lp
nnverify/tests/results/
scripts/results/
results/
data/
log.txt
nnverify/nets
build/
dist/
nn_verify.egg-info/
env/